.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.container .col {
    background-color: #fff;
    border: 1px #ccc;
    height: 7em;
}

.container .col:hover {
    background-color: #fafafa;
    border: 1px #ccc;
    height: 7em;
}

#name {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
    color: #333;
    font-size: 13pt;
}

#author {
    margin-bottom: 5px;
    margin-top: 1px;
    margin-left: 20px;
    display: inline-block;
    color: #999;
}

#date {
    float: right;
    clear: right;
    margin-right: 50px;
    color: #333;
    font-size: 13pt;
}


/* 2 columns (600px) */

@media only screen and (min-width:600px) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .container .col {
        height: 3em;
        background-color: #fff;
        border: 1px #ccc;
    }
    .container .col:hover {
        height: 3em;
        background-color: #fafafa;
        border: 1px #ccc;
    }
    #name {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 20px;
        display: inline-block;
        color: #333;
        font-size: 13pt;
    }
    #author {
        margin-bottom: 5px;
        margin-top: 1px;
        margin-left: 20px;
        display: inline-block;
        color: #999;
    }
    #date {
        float: right;
        clear: right;
        margin-right: 50px;
        color: #333;
        font-size: 13pt;
    }
}