<br>

<div class="container" *ngFor="let hn of hns">

    <a href="{{hn.story_url}}" target="_blank">
        <div class="col">
            <p id="name">{{hn.name}}</p>
            <p id="date">{{hn.date | date:'MM/dd/yyyy' }}</p>
            <p id="author">{{hn.author}}</p>
        </div>
    </a>
    <button id="btn" (click)="DeleteHN(hn)"><img width="30" height="30" src="../../../assets/remove.png" alt="Italian Trulli"></button>
    <hr>
</div>